body{
    background-color: #05696B !important;
}

.Header {
    text-align: center;
}
div {
    
    height: auto;
    width: 700px;
    border: 4px solid white;
    padding: 50px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

h1{
    color:black;
    font-weight: bold;
}

h2 {
    color: aqua;
    font-size: 25px;
}
