.Header 
{
    text-align: center;
}

button 
{
    background-color: black;
    color: white;
    padding: 15px 15px;
    display: inline-block;
    font-size: 16px;
}

.back
{
    background-color: grey;
}

.About
{
    
    height: auto;
    width: 700px;
    border: 4px solid white;
    padding: 50px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.Links
{
    
    height: auto;
    width: 700px;
    border: 4px solid white;
    padding: 50px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}