:root {
    --bg-color: var(--bs-gray-dark);
    --fg-color: white;
    --bg-accordion-color: white;
    --fg-accordion-color: black;
    --fg-accordion-not-collapsed-color: #ff9800;
    --border-accordion: none;
}

@mixin theme {
    background-color: var(--bg-color);
    color: var(--fg-color);
}

@mixin accordion-theme {
    background-color: var(--bg-accordion-color);
    color: var(--fg-accordion-color);
}

body {
    @include theme;
}

a {
    color: var(--fg-color);
}

.fa-github {
    &:hover {
        color: black;
    }
}

.fa-youtube {
    &:hover {
        color: red;
    }
}

.fa-discord-alt {
    &:hover {
        color: rgb(155, 224, 247);
    }
}

.fa-matrix-org {
    &:hover {
        color: rgb(13, 189, 139);
    }
}

.fa-envelope {
    &:hover {
        color: #FED431;
    }
}

/* Thanks to ChatGPT for this part */
.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    a {
        margin: 10px;
    }

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }

    .contacts-title-container {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .contacts-title {
        font-size: 24px;
        font-weight: bold;
    }

    .icons-row-1 {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    .icons-row-2 {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    .icons-row-3 {
        display: flex;
        justify-content: center;
    }
}

.text {
    @include theme;
}

.row {
    @include theme;
}

.col {
    a {
        &:hover {
            color: lightblue;
        }
    }
}

.py-5 bg-light {
    @include theme;
}

.accordion-item {
    @include accordion-theme;
}

@import "accordion.scss";
