.accordion collapse {
    border: 0;
}

.accordion-button {
    border: var(--border-accordion);

    &:focus {
        box-shadow: none;
        border: var(--border-accordion);
    }

    &:not(.collapsed) {
        @include accordion-theme;
        background: none;
        color: var(--fg-accordion-not-collapsed-color);
        box-shadow: none;
        border-bottom: none;
    }

    &::after {
        width: auto;
        height: auto;
        content: '+';
        font-size: 40px;
        background-image: none;
        font-weight: 100;
        color: #1b6ce5;
        transform: translateY(-4px);
    }

    &:not(.collapsed)::after {
        width: auto;
        height: auto;
        background-image: none;
        content: "-";
        font-size: 48px;
        transform: translate(-5px, -4px);
        transform: rotate(0deg);
    }
}
