:root {
    --bg-color: var(--bs-gray-dark);
    --fg-color: white;
    --bg-accordion-color: white;
    --fg-accordion-color: black;
    --fg-accordion-not-collapsed-color: #ff9800;
    --border-accordion: none;
}

@mixin theme {
    background-color: var(--bg-color);
    color: var(--fg-color);
}

@mixin accordion-theme {
    background-color: var(--bg-accordion-color);
    color: var(--fg-accordion-color);
}

body {
    @include theme;
}

.text {
    @include theme;
}

.row {
    @include theme;
}

.py-5 bg-light {
    @include theme;
}

.accordion-item {
    @include accordion-theme;
}

.hidden {
    opacity: 0;
    transition: all 0.65s;
}

.show {
    opacity: 1;
}

@import "accordion.scss";
